*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #DBDFEA;
}
#box
{
    background-color: #ACB1D6;
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 70px;
}
h1
{
    color: #FFEAD2;
    font-family: 'Press Start 2P', cursive;
    padding-top: 30px;
    text-align: center;
}
#random
{
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}
form
{
    margin-top: 80px;
    margin-left: 220px;
}
#inp
{
    font-size: 30px;
}
#message
{
    width: 600px;
    height: 170px;
    margin: auto;
    margin-top: 40px;
    color: black;
    background-color: #FFEAD2;
    display: none;
}
#message p
{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
#message button
{
    font-size: 25px;
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: 270px;
    background-color: #DBDFEA;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}